<template>
  <div class="favoris">
    <h1>Favoris</h1>
    <draggable
      v-model="myFavs"
      group="myFavsBeers"
      @end="changeOrder"
      item-key="id"
    >
      <template #item="{ element }">
        <Beer
          v-bind:key="element.id"
          v-bind:beer="element"
          v-bind:rank="element.rank"
          v-on:deleteFav="this.update($event)"
        >
        </Beer>
      </template>
    </draggable>
  </div>
</template>

<script>
import Beer from "@/components/Beer.vue";
import BeerService from "@/services/beer.service";
import draggable from "vuedraggable";

export default {
  name: "favoris",
  components: {
    Beer,
    draggable,
  },
  data() {
    return {
      favoriteBeers: [],
      myFavs:[],
    };
  },
  computed: {
    favoris() {
      if (this.$store.state.favoris.favoris) {
        return this.$store.state.favoris.favoris;
      }
      return false;
    },
    sortedBeers() {
      let ar = this.favoriteBeers;
      ar.forEach((el) => {
        if (el.rank === undefined) {
          el.rank = this.favoriteBeers.indexOf(el) + 1;
        }
      });
      return ar.sort((a, b) => a.rank - b.rank);
    },
  },
  methods: {
    changeOrder(evt){
      console.log(evt.newIndex)
    },
    getFavorites() {
      this.favoris.forEach((element) =>
        BeerService.getOne(element).then((response) => {
          this.favoriteBeers.push(response.data[0]);
        })
      );
    },
    update(beerIdToRemove) {
      let index = null;
      this.favoriteBeers.forEach((el) => {
        if (el.id === beerIdToRemove) {
          index = this.favoriteBeers.indexOf(el);
        }
      });
      this.favoriteBeers.splice(index, 1);
    },
  },
  mounted() {
    this.getFavorites();
    this.myFavs = this.sortedBeers
  },
};
</script>