<template>
  <div class="home">
    <h1>Beers</h1>
    <Beer
      v-for="beer in beers"
      v-bind:key="beer.id"
      v-bind:beer="beer">
    </Beer>
  </div>
</template>

<script>
import Beer from '@/components/Beer.vue'
import BeerService from '@/services/beer.service';


export default {
  name: 'Home',
  components: {
    Beer
  },
  data() {
    return {
      beers: [],
      page: 1,
    };
  },
  methods:{
    getFirstPage(){
      BeerService.get(1).then((response) => {
        this.beers = response.data;
      });
    },
    getNextPage() {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
        if (bottomOfWindow) { 
          BeerService.get(this.page +1).then((response) => {
            response.data.forEach(element => this.beers.push(element));
            this.page = this.page +1;
          });
        }
      }
    }
  },
  beforeMount(){
    this.getFirstPage();
  },
  mounted() {
    this.getNextPage();
  }
}
</script>
