<template>
  <div class="card">
    <div>{{ beer.name }}</div>
    <div>{{ beer.rank }}</div>
    <button  v-if="this.favorite" @click.prevent="deleteFav(beer.id)"> - </button> 
    <button  v-else @click.prevent="toggleFav(beer.id)"> + </button> 
  </div>
</template>

<script>
export default {
  name: 'beer',
  props: ['beer'],
  computed: {
    favoris () {
      if(this.$store.state.favoris.favoris){
        return this.$store.state.favoris.favoris
      }
      return false
    },
    favorite(){
       if(this.favoris !== false && this.favoris.includes(this.beer.id)){
        return true
      }
      return false
    }
  },
  methods:{
    store(myFavs){
      localStorage.setItem('favs', JSON.stringify(myFavs))
      this.$store.dispatch('favoris/set')
    },
    deleteFav(oldFavBeer) {
      let oldFav = oldFavBeer;
      let position = this.favoris.indexOf(oldFav)
      let favs = this.favoris
      favs.splice(position, 1)
      this.store(favs)
      this.$emit('deleteFav', oldFav)
    },
    toggleFav(FavBeer){
      let newFav = FavBeer
      

      if(this.favoris === false){
        let favs = []
        favs.push(newFav)
        this.store(favs)
      }
      else{
        let favs = this.favoris
        let position = this.favoris.indexOf(newFav)
        if(position === -1){
          favs.push(newFav)
          this.store(favs)
        }
        else{
          favs.splice(position,1)
          this.store(favs)
        }
      }
    }
  }
}
</script>


<style scoped>
.card{
  height: 100px;
}
</style>
