<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/favoris">Favoris</router-link>
  </div>
  <router-view/>
</template>

<script>
export default {
  methods:{
    initState(){
      this.$store.dispatch('favoris/set')
    }
  },
  mounted() {
    this.initState();
  }
}
</script>

<style>

</style>
